<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Hellolyf Regression Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b4c3ab">  <td>20/01/28 17:16:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginRegressionSuite.browserAppLaunch()[pri:0, instance:com.hellolyf.test.LoginRegressionSuite@457e2f02]">&gt;&gt;browserAppLaunch</td> 
<td>&nbsp;</td>  <td>main@1967892594</td>   <td></td> </tr>
<tr bgcolor="b4c3ab">  <td>20/01/28 17:17:10</td>   <td>11443</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginRegressionSuite.verifyvalidlogin()[pri:0, instance:com.hellolyf.test.LoginRegressionSuite@457e2f02]">verifyvalidlogin</td> 
  <td>main@1967892594</td>   <td></td> </tr>
<tr bgcolor="b4c3ab">  <td>20/01/28 17:17:34</td>   <td>35446</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginRegressionSuite.close()[pri:0, instance:com.hellolyf.test.LoginRegressionSuite@457e2f02]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1967892594</td>   <td></td> </tr>
</table>
