<h2>Methods that were not run</h2><table>
<tr><td>com.hellolyf.test.LoginRegressionSuite.verifyafterclickingPsychologylinklogindone</td></tr>
<tr><td>com.hellolyf.test.LoginRegressionSuite.verifyPsychologylink</td></tr>
<tr><td>com.hellolyf.test.LoginRegressionSuite.verifyInvalidlogin</td></tr>
<tr><td>com.hellolyf.test.LoginRegressionSuite.verifyvalidlogin</td></tr>
</table>